<h2>We have resources to help you meet your goals!</h2>

<h3>BMI Calculator</h3>
<div class="container">
<iframe src="https://www.mealpro.net/bmi/?color=fc5b53" frameborder="0" width="500" height="360" style="max-width: 100%"></iframe>
</div>
<h3>BMR Calculator</h3>
<div>
  <iframe src="https://www.mealpro.net/bmr/?color=fc5b53" frameborder="0" width="500" height="480" style="max-width: 100%"></iframe>
</div>
<h3>Calorie Calculator</h3>
<div>
  <iframe src="https://www.mealpro.net/calorie/?color=fc5b53" frameborder="0" width="800" height="1000" style="max-width: 100%"></iframe>
</div>
