<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/weights.jpg">
    </div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Exercises</h1>
      <p>Need some inspiration? Find new exercises to keep you moving!</p>
      <a class="btn btn-primary" href="./signup">Sign In</a>
    </div>
  </div>

  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Join today to access all the benefits of Move It!</p>
    </div>
  </div>
