<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/Weekly workouts and step-by-step tutorials.png" alt="first container">
    </div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Welcome to Move It!</h1>
      <p>Have an account? Log in <a href="./signup">Here</a></p>
      <a class="btn btn-primary" href="./signup">JOIN TODAY!</a>
    </div>
  </div>
  <!-- Call to Action -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Join today to access all the benefits of Move It!</p>
    </div>
  </div>
  <!-- Content Row -->
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Track Your Workouts</h2>
          <p class="card-text">Track your daily workouts with us, and keep meeting your goals!</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn sm" href="/workouts">Workouts</a>
        </div>
      </div>
    </div>
    <div class="col-md mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Exercise Inspiration</h2>
          <p class="card-text">Need some inspiration? Find new exercises here!</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn sm" href="/exercises">Exercises</a>
        </div>
    </div>
  </div>
  <div class="col-md mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Resources</h2>
        <p class="card-text">Need motivation? Use our online resources to help keep you on track.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary btn sm" href="#!">Tools</a>
      </div>
  </div>
</div>
<!-- footer -->
<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5">
    <p class="m-0 text-center text-white">Copywrite @Move It 2023</p>
  </div>
</footer>
